
.vscode/settings.json
Notes/CSC-492-D01-2018FA Topics Python-Shlanta - 11162018 - 1257 PM/.vs/CSC-492-D01-2018FA Topics Python-Shlanta - 11162018 - 1257 PM/v15/.suo
Notes/CSC-492-D01-2018FA Topics Python-Shlanta - 11162018 - 1257 PM/.vs/slnx.sqlite
Notes/CSC-492-D01-2018FA Topics Python-Shlanta - 11162018 - 1257 PM/.vs/VSWorkspaceState.json
Notes/CSC-492-D01-2018FA Topics Python-Shlanta - 11162018 - 1257 PM/__pycache__/speedup.cpython-36.pyc
Notes/extlib/extlib/requestsDemo/fish.png
Notes/extlib/extlib/requestsDemo/ResidentialSalesOnly.xlsx
